<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Confirmation</title>
</head>
<body>
    <h1>Confirmed!</h1>
    <h2>A email will be sent to you 24 hours before appt with a Zoom link and password for you to join. Each appointment is a maxium of 15 mins. If free time opens up after, it will be presented to you as a option. or  what ever. </h2>
    <p>Have a bless day and I wish you a 14 dollar smoothie.</p>
    <p><a href="/logout">Logout</a></p>
    <p><a href="/dashboard">Dashboard</a></p>
</body>
</html>